.topleft{
    position: absolute;
    top: 9em;
    left: 14em;
}
.socialicons{
    display: block;
}
.socialicons, img{
    background-color:
}
.socialicons: hover{
     background-color: #ffffff;
}
.topright{
    position: relative;
    top: 6em;
    right: 16em;
    /*font-size: 30px;*/
    color: white;
    font-weight: bold;
}
.center{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
}
.center h1{
    font-family: serif;
    font-weight: bold;
    color: orange;
}
.center p{
    font-family: serif;
    color: orange;
}
a{
    text-decoration: none;
}
.fixed{
    position: fixed;
}
.about{
    top: 50%;
    left: 0;
    width: 100%;
}
h1{
    color: orange;
}
#map{
    height: 100px;
    height: 500px;
    margin: auto;
}
.navbar-inverse{
    background-color: orange;
    border-color: orange;
}
.navbar .navbar-nav > li > a{
    color: white;
}
.navbar .navbar-nav > li > a:hover{
    background-color: white;
    color: orange;
}
.background{
    background-color: #2f2f2f;
    color: white;
    height: 250px;
}
hr{
    color: white;
}
