.about{
    top: 50%;
    left: 0;
    width: 100%;
}
h1{
    color: orange;
}
#map{
    height: 100px;
    height: 500px;
    margin: auto;
}
.navbar-inverse{
    background: none;
    border: none;
    margin: 0;
}
.navbar .navbar-nav > li > a{
    color: white;
}
.navbar .navbar-nav > li > a:hover{
    background-color:orange;
}
.background{
    background-color: #2f2f2f;
    color: white;
    height: 250px;
}
hr{
    color: white;
}
.navbar-brand{
    color: orange;
}
.cover{
    background:url(../images/1.jpg)no-repeat center 0px;
    min-height: 700px;
    background-size:cover;
    webkit-background-size:cover;
    moz-background-size:cover;
    position:relative;
}
.header{
    border-bottom: 1px solid whitesmoke;
}
.cover-text{
    padding: 12em 0 16.7em;
    text-align:center;
    color: orange;
}