.cover-text h1{
    font-size: 5em;
}
.cover-text p{
    font-size: 2em;
}
.about{
    top: 50%;
    left: 0;
    width: 100%;
}
h1{
    color: orange;
}
#map{
    height: 100px;
    height: 500px;
    margin: auto;
}
.navbar-inverse{
    background: none;
    border: none;
    margin: 0;
}
.navbar .navbar-nav > li > a{
    color: white;
}
.navbar .navbar-nav > li > a:hover{
    background-color:orange;
}
.background{
    background-color: #2f2f2f;
    color: white;
    height: 250px;
}
hr{
    color: white;
}
.navbar-brand{
    color: orange;
}
.cover{
    background:url(../images/1.jpg)no-repeat center 0px;
    min-height: 700px;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    position:relative;
}
.header{
    border-bottom: 1px solid whitesmoke;
}
.cover-text{
    padding: 12em 0 16.7em;
    text-align:center;
    color: orange;
}
.quote{
    background-color:orange;
    min-height: 300px;
    padding: 5em 5em;
}
.contact-form{
    background:url(../images/contact.jpg)no-repeat 0px 0px fixed;
    -webkit-background-size:cover;
    background-size:cover;
    text-align:center;
    padding:6em 15em;
    margin-top:6em;
}
.contact-form input[type="text"]{
    width: 100%;
    color:white;
    background:none;
    border: solid 1px white;
    
}
.contact-form textarea{
    width: 100%;
    background:none;
    border: solid 1px white;
    min-height:12em;
}
.contact-form textarea:active{
    text-decoration:none;
}
.contact-form input[type="submit"]{
    color:white;
    background:chocolate;
    border: solid 1px chocolate;
    width: 40%;
    height: 3em;
    -webkit-appearance: none;
}
.contact-form input[type="submit"]:hover{
    background: transparent;
    color: chocolate;
    -webkit-appearance: none;
}
.contact-form h1{
    color: white;
}
::-webkit-input-placeholder{
	color:#fff !important;
}
.carousel-caption{
    vertical-align:middle;
}
#clock{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30;
}
#clock > h1{
    color: #369;
    font-weight: 100;
    font-size: 40;
    margin: 40px 0px 20px;
}